._404 {
  &__content {
    position: relative;
  }

  &__title {
    font-size: 1.5rem;
    fill: currentColor;
  }

  &__polygon {
    opacity: .2;
  }

  &__subtitle {
    font-size: 2rem;
    letter-spacing: 3px;
    fill: #ddd;
  }

  &__txt {
    font-size: 1.3rem;
    color: inherit;
    transform: translate(-95px, 30px);

    @include media('>=#{map-get($media-breakpoints, "lg")}') {
      font-size: .5rem;
      transform: translate(0, 5px);
    }
  }

  &__link {
    font-size: inherit;
    text-decoration: underline;
    color: inherit;
  }
}